<hr/> <!-- Adiciona uma linha horizontal para separar o conteúdo -->
<div class="banner" [style.background-image]="'url(' + photoCover + ')'"> <!-- Define a área do banner -->
    <div> <!-- Div interna para organizar o conteúdo -->
        <h1 class="title-noticia"> 
            <a href="#">{{ cardTitle }}</a>
        </h1> <!-- Título dentro do banner -->
    </div>
    <div>
        <p class="text">
            <a href="#">{{ cardDescription }}</a>
        </p>
    </div>
</div>
<hr/> <!-- Segunda linha horizontal para separar a seção -->
