
<div class="banner" [style.background-image]="'url(' + photoCover + ')'">
    <div class="blur-bottom"> </div>

    <div class="bottom-more">
        <button>Saiba mais</button>
    </div>

    <div class="content-wrapper">
        <div>
            <h1 class="name">
                <a href="">{{ cardName }}</a>
            </h1>
            <h1 class="data">
                <a href="">{{ cardData }}</a>
            </h1>
        </div>
        <h1 class="title-noticia">
            <a href="">{{ cardTitle }}</a>
        </h1>
        <p class="text">
            <a href="">{{ cardDescription }}</a>
        </p>
    </div>
</div>
