
<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title 
photoCover="https://wallpapercave.com/wp/wp6183530.png" 
cardTitle="SOLO LEVELING VENCEDOR DO ANIME AWARDS 2025"
cardDescription="Contra varios concorrentes ele foi o vencedor"
>
</app-menu-title>

<h1>NEWS ANIME AWARDS</h1>
<div class="news__rolante">
    <app-noticias
        photoCover="https://th.bing.com/th/id/OIP.nyTELxvGrYkIM-1mfbGvqQHaDe?rs=1&pid=ImgDetMain"
        cardDescription="MELHOR FILME BLUE LOKS"
    ></app-noticias>
    <app-noticias
        photoCover="https://th.bing.com/th/id/OIP.nyTELxvGrYkIM-1mfbGvqQHaDe?rs=1&pid=ImgDetMain"
        cardDescription="MELHOR FILME BLUE LOKS"
    ></app-noticias>
    <app-noticias
        photoCover="https://th.bing.com/th/id/OIP.nyTELxvGrYkIM-1mfbGvqQHaDe?rs=1&pid=ImgDetMain"
        cardDescription="MELHOR FILME BLUE LOKS"
    ></app-noticias>
</div>
