<div class="menu-container">

    <div class="logo">
        <a href="#">
            <img src="{{ photoLogo }}" alt="{{ nomeSite }}">
        </a>
    </div>
    <div class="menu-itens">
        <button> 
            <a href="#">{{ buttom }}</a>
        </button>
    </div>

    <div class="Icones">
        <ul>
            <li>
                <a href="{{ link }}" target="_blank">
                <img src="{{ img }}" alt="{{ nomeLogo }}">
                </a>
            </li>
        </ul>
    </div>
</div>
